DB_NAME=McdaTestDB
DB_USER=root
DB_USER_PASSWORD=12345678
DB_HOST=localhost
DB_PORT=3306
CLOUDINARY_CLOUD_NAME=??????
CLOUDINARY_API_KEY=???????
CLOUDINARY_API_SECRET=????????
CLOUDINARY_ASSET_FOLDER=????????